<h1>{{ 'bulk_order.general.title' | t }}</h1>
{% if form.errors %}
    <div class="note form-error">
        <p>{{ 'bulk_order.general.items_not_found_message' | t }}</p>
        <ul class="disc">
            {% for field in form.errors %}
                <li>{{ form.errors.messages[field] }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<div class="grid">
    <div class="grid-item two-thirds">
        <p>{{ 'bulk_order.general.description' | t }}</p>
        <form action="{{ '/bulkorder/addfielditems' | absolute_url }}" method="POST">
            <div class="grid">
                {% for col_index in (0..1) %}
                    <div class="grid-item one-half">
                        {% include 'bulk-order-fields-column', column_index: col_index %}
                    </div>
                {% endfor %}
            </div>
            <button class="btn" type="submit">{{ 'bulk_order.general.add_to_cart' | t }}</button>
        </form>
    </div>
    <div class="grid-item one-third">
        <p>{{ 'bulk_order.general.csv_description' | t }}</p>
        <form action="{{ '/bulkorder/addcsvitems' | absolute_url }}" method="POST">
            <textarea name="csv" placeholder="{{ 'bulk_order.general.csv_field_placeholder' | t }}" rows="20"></textarea>
            <button class="btn" type="submit">{{ 'bulk_order.general.add_to_cart' | t }}</button>
        </form>
    </div>
</div>