<div class="wrap">
    <div class="sidebar">
        <div class="sidebar__header">
            <a class="logo logo--left" href="{{ '/' | absolute_url }}">
                <h1 class="logo__text">{{ shop.name }}</h1>
            </a>
        </div>
        <div class="sidebar__content">
            <div class="order-summary" ng-init='checkout.availablePaymentPlans={{ settings.available_paymentPlans | json }}'>
                <div class="order-summary__section order-summary__section--product-list">
                    <vc-line-items items="checkout.cart.items"></vc-line-items>
                </div>
                <div class="order-summary__section order-summary__section--discount">
                    <vc-checkout-coupon coupon="checkout.coupon" on-apply-coupon="applyCoupon(coupon)" on-remove-coupon="removeCoupon(coupon)"></vc-checkout-coupon>
                </div>
                <div class="order-summary__section order-summary__section--total-lines">
                    <vc-totals order="checkout.cart"></vc-totals>
                </div>

                <div class="form-group" ng-if="checkout.canCartBeRecurring">
                    <div class="form-box">
                        <label class="check-box" ng-init="isRecurring = !!checkout.cart.paymentPlan">
                            <input ng-model="isRecurring" ng-checked="isRecurring" ng-change="isRecurringChanged(isRecurring)" ng-disabled="checkout.loading" class="check" type="checkbox"/>
                            <div class="switch"></div>
                            <div class="name">{{ 'checkout.make_recurring_order' | t }}</div>
                        </label>
                        <div class="form-fieldset" ng-if="isRecurring">
                            <div class="form-group">
                                <div class="form-group form-select" ng-class="{'keyuped': checkout.paymentPlan }">
                                    <label for="pplan" class="form-label">{{ 'checkout.reorder_every' | t }}</label>
                                    <select ng-model="checkout.paymentPlan" ng-options="x as x.name for x in checkout.availablePaymentPlans" ng-change="savePaymentPlan()" ng-disabled="checkout.loading" required="" id="pplan" name="pplan" class="form-input" size="1"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main" role="main">
        <div class="main__header">
            <a class="logo logo--left" href="{{ '/' | absolute_url }}">
                <h1 class="logo__text">{{ shop.name }}</h1>
            </a>
            <ul class="breadcrumb">
                <li class="breadcrumb__item breadcrumb__item--completed">
                    <a class="breadcrumb__link" ng-href="{{ 'cart' | absolute_url }}">{{ 'checkout.cart' | t }}</a>
                </li>
                <li class="breadcrumb__item" ng-repeat="step in checkout.wizard.steps" ng-if="!step.stepDisabled && !step.final" ng-class="{ 'breadcrumb__item--current': step.isActive, 'breadcrumb__item--completed': !step.isActive }">
                    <a class="breadcrumb_link" ng-click="checkout.wizard.goToStep(step)" ng-if="!step.isActive" ng-bind="step.title"></a>
                    <span ng-class="current" ng-if="step.isActive" ng-bind="step.title"></span>
                </li>
            </ul>
        </div>
        <div class="main__content">
            <vc-checkout-wizard wizard="checkout.wizard" on-initialized="initialize()" on-finish="createOrder()" loading="checkout.loading">
                <vc-checkout-wizard-step name="shipping-address"  on-next-step="updateShipment(checkout.shipment)" title="{{ 'checkout.customer_information.title' | t }}" step-disabled="!checkout.cart.hasPhysicalProducts">
                    <div class="edit_checkout animate-floating-labels">
                        <div class="step__sections">
                            <div class="section section--contact-information">
                                <div class="section__header">
                                    <h2 class="section__title">{{ 'checkout.customer_information.title' | t }}</h2>
                                </div>
                                <div class="section__content">
                                    <vc-checkout-email email="checkout.shipment.deliveryAddress.email"></vc-checkout-email>
                                    <p class="section__content__text" ng-if="!customer.isRegisteredUser">
                                        {{ 'checkout.customer_information.has_account_text' | t }}
                                        <a href="{{ 'account/login' | absolute_url }}">{{ 'checkout.customer_information.log_in' | t }}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="section section--shipping-address">
                                <div class="section__header">
                                    <h2 class="section__title">{{ 'checkout.shipping_address' | t }}</h2>
                                </div>
                                <div class="section__content">
                                    <div class="content-box">
                                        <vc-address address="checkout.shipment.deliveryAddress" countries="checkout.availCountries" get-country-regions="getCountryRegions(country)" addresses="checkout.cart.customer.addresses" edit-mode="true"></vc-address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </vc-checkout-wizard-step>
                <vc-checkout-wizard-step  name="shipping-method" title="{{ 'checkout.shipping_method.title' | t }}" on-next-step="updateShipment(checkout.shipment)" step-disabled="!checkout.cart.hasPhysicalProducts">
                    <div class="edit_checkout animate-floating-labels">
                        <div class="section section--shipping-address-recap">
                            <div class="section__header">
                                <h2 class="section__title">{{ 'checkout.shipping_address' | t }}</h2>
                            </div>
                            <div class="section__content">
                                <p>
                                    <vc-address address="checkout.shipment.deliveryAddress" edit-mode="false"></vc-address>
                                </p>
                            </div>
                        </div>
                        <div class="section section--shipping-method">
                            <div class="section__header">
                                <h2 class="section__title">{{ 'checkout.shipping_method.title' | t }}</h2>
                            </div>
                            <div class="section__content">
                                <vc-checkout-shipping-methods shipment="checkout.shipment" on-select-shipping-method="selectShippingMethod(shippingMethod)" get-avail-shipping-methods="getAvailShippingMethods(checkout.shipment)"></vc-checkout-shipping-methods>
                            </div>
                        </div>
                    </div>
                </vc-checkout-wizard-step>
                <vc-checkout-wizard-step  name="payment-method" title="{{ 'checkout.payment_method.title' | t }}">
                    <vc-payment-methods get-avail-payment-methods="getAvailPaymentMethods()" payment-method="checkout.paymentMethod" on-select-method="selectPaymentMethod(paymentMethod)"></vc-payment-methods>
                    <div class="edit_checkout animate-floating-labels">
                        <div class="step__sections">

                            <div class="section section--billing-address">
                                <div class="section__header">
                                    <h2 class="section__title">{{ 'checkout.payment_method.billing_address' | t }}</h2>
                                </div>
                                <div class="section__content">
                                    <div class="content-box">
                                        <div class="checkbox-wrapper content-box__row" ng-if="checkout.cart.hasPhysicalProducts">
                                            <div class="checkbox__input">
                                                <input class="input-checkbox" id="BillingAddressEqualsShipping" name="BillingAddressEqualsShipping" ng-model="checkout.billingAddressEqualsShipping" type="checkbox" ng-checked="checkout.billingAddressEqualsShipping" ng-change="validateCheckout(checkout)"  />
                                            </div>
                                            <label class="checkbox__label" for="BillingAddressEqualsShipping">{{ 'checkout.payment_method.billing_address_equals_shipping' | t }}</label>
                                        </div>
                                        <div class="radio-group__row content-box__row content-box__row--secondary" ng-if="!checkout.billingAddressEqualsShipping">
                                            <vc-address address="checkout.payment.billingAddress" countries="checkout.availCountries" get-country-regions="getCountryRegions(country)" addresses="checkout.cart.customer.addresses" on-update="validateCheckout(checkout)" edit-mode="true"></vc-address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </vc-checkout-wizard-step>
                <vc-checkout-wizard-step  name="create-order" title="Create order" final="true" can-enter="checkout.isValid">
                </vc-checkout-wizard-step>
            </vc-checkout-wizard>
        </div>
        <div class="main__footer" role="contentinfo">
            <p class="copyright-text">
                {{ 'checkout.copyright_text' | t }} {{ shop.name }}
            </p>
        </div>
    </div>
</div>


