{% layout settings.customer_layout %}

<vc-account-manager base-url="baseUrl" customer="customer"></vc-account-manager>
<hr class="hr--small">

<script id="account-manager.tpl" type="text/ng-template">
    <div class="vc-form">
        <div class="ajax-informer" ng-class="{ 'fade': $ctrl.loader.isLoading }">
            <div class="loader"></div>
            <span>{{ 'general.loading' | t }}</span>
        </div>
        <h1 class="h2">{{ 'customer.account.title' | t }}</h1>

        <ul class="nav nav-tabs">
            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountProfileUpdate'}">
                <a ng-link="['Profile']">{{ 'customer.account.menu_label.profile' | t }}</a>
            </li>
            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountAddresses'}">
                <a ng-link="['Addresses']">{{ 'customer.account.menu_label.addresses' | t }}</a>
            </li>
            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountPasswordChange'}">
                <a ng-link="['PasswordChange']">{{ 'customer.account.menu_label.change_password' | t }}</a>
            </li>
            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountOrders'}">
                <a ng-link="['Orders']">{{ 'customer.account.menu_label.orders' | t }}</a>
            </li>
            {% if shop.subscription_enabled %}
            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountSubscriptions'}">
                <a ng-link="['Subscriptions']">{{ 'customer.account.menu_label.subscriptions' | t }}</a>
            </li>
            {% endif %}
            {% if shop.quotes_enabled %}
            <li ng-class="{active: $$ngOutlet.$$componentName === 'vcAccountQuotes'}">
                <a ng-link="['Quotes']">{{ 'customer.account.menu_label.quotes' | t }}</a>
            </li>
            {% endif %}        
          
        </ul>

        <div style="margin-top: 30px; min-height: 255px;">
            <ng-outlet></ng-outlet>
        </div>
    </div>
</script>