{% layout settings.customer_layout %}

<h1>{{ 'customer.account.title' | t }}</h1>

<div ng-controller="accountController">
    <uib-tabset>
        <uib-tab heading="Orders">
            <vc-account-orders get-orders="getOrders" loading="isLoading"></vc-account-orders>
        </uib-tab>
        {% if shop.quotes_enabled %}
        <uib-tab heading="Quote requests">
            <div class="one-half">
                <vc-account-quotes get-quotes="getQuotes" loading="isLoading"></vc-account-quotes>
            </div>
        </uib-tab>
        {% endif %}

        <uib-tab heading="Profile">
            <div class="one-half">
                <vc-account-profile-update customer="customer" on-update="updateProfile" loading="isLoading"></vc-account-profile-update>
            </div>
        </uib-tab>
        <uib-tab heading="Addresses">
            <h4>{{ 'customer.addresses.title' | t }}</h4>
            <ul>
                <li ng-repeat="address in customer.addresses" ng-init="addrCopy = clone(address)">
                    <a ng-click="addr.delete($index)" ng-if="!addrCopy.editMode" class="icon-fallback-text btn-secondary remove">
                        <span class="icon icon-x" aria-hidden="true"></span>
                        <span class="fallback-text">{{ 'cart.general.remove' | t }}</span>
                    </a>
                    <h3 ng-if="addrCopy.editMode">{{ 'customer.addresses.edit_old' | t }}</h3>
                    <vc-checkout-address address="addrCopy" edit-mode="addrCopy.editMode" parent="addr" countries="availCountries" get-country-regions="getCountryRegions(country)" ng-click="addrCopy.editMode ? null : addrCopy.editMode=true" ng-class="{'btn-secondary': !addrCopy.editMode}"></vc-checkout-address>
                    <div ng-if="addrCopy.editMode">
                        <!--<p>
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
                        </p>-->
                        <input type="submit" ng-click="addr.submit($index, addrCopy)" class="btn" value="{{ 'customer.addresses.update' | t }}" />
                        <span class="form-spacer">or</span>
                        <a ng-click="addr.cancel($index, addrCopy)">{{ 'customer.addresses.cancel' | t }}</a>
                    </div>
                </li>
                <li>
                    <a ng-click="addr.newAddress={}" ng-if="!addr.newAddress" class="btn btn--small">{{ 'customer.addresses.add_new' | t }}</a>
                    <h2 ng-if="addr.newAddress">{{ 'customer.addresses.add_new' | t }}</h2>
                    <vc-checkout-address address="addr.newAddress" edit-mode="true" parent="addr" countries="availCountries" get-country-regions="getCountryRegions(country)" ng-if="addr.newAddress"></vc-checkout-address>
                    <div ng-if="addr.newAddress">
                        <!--<p>
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
                        </p>-->
                        <input type="submit" ng-click="addr.addNewAddress()" class="btn" value="{{ 'customer.addresses.add' | t }}" />
                        <span class="form-spacer">or</span>
                        <a ng-click="addr.newAddress = null">{{ 'customer.addresses.cancel' | t }}</a>
                    </div>
                </li>
            </ul>
        </uib-tab>
        <uib-tab heading="Change password">
            <div class="one-half">
                <vc-account-password-change on-password-change="changePassword"></vc-account-password-change>
            </div>
        </uib-tab>
    </uib-tabset>

    <hr class="hr--small">
</div>
