{% layout settings.customer_layout %}

<h1>{{ 'customer.account.title' | t }}</h1>

<div ng-controller="accountController" class="vc-form">
    <div class="ajax-informer" ng-class="{ 'fade': loader.isLoading }">
        <div class="loader"></div>
        <span>Working...</span>
    </div>

    <uib-tabset>
        <uib-tab heading="Orders">
            <vc-account-orders customer="customer" countries="availCountries" base-url="baseUrl" get-country-regions="getCountryRegions(country)"></vc-account-orders>
        </uib-tab>
        <uib-tab heading="Subscriptions">
            <vc-account-subscriptions get-quotes="getQuotes" loading="loader.isLoading"></vc-account-subscriptions>
        </uib-tab>
        {% if shop.quotes_enabled %}
        <uib-tab heading="Quote requests">
            <div class="one-half">
                <vc-account-quotes get-quotes="getQuotes" loading="loader.isLoading"></vc-account-quotes>
            </div>
        </uib-tab>
        {% endif %}

        <uib-tab heading="Profile">
            <div class="one-half">
                <vc-account-profile-update customer="customer" on-update="updateProfile" loading="loader.isLoading"></vc-account-profile-update>
            </div>
        </uib-tab>
        <uib-tab heading="Addresses">
            <h4>{{ 'customer.addresses.title' | t }}</h4>
            <div class="vc-product-address">
                <ul class="list">
                    <li ng-repeat="address in customer.addresses" ng-init="addrCopy = clone(address)" ng-class="{ 'list-item': !addrCopy.editMode }">
                        <a ng-click="addr.delete($index)" ng-if="!addrCopy.editMode">{{ 'customer.addresses.delete' | t }}</a>
                        <span class="form-spacer"></span>
                        <a ng-click="addrCopy.editMode=true" ng-if="!addrCopy.editMode">{{ 'customer.addresses.edit' | t }}</a>
                        <span class="form-spacer"></span>
                        <h3 ng-if="addrCopy.editMode">{{ 'customer.addresses.edit_old' | t }}</h3>
                        <vc-address address="addrCopy" edit-mode="addrCopy.editMode" validation-container="addr" countries="availCountries" get-country-regions="getCountryRegions(country)" ng-click="addrCopy.editMode ? null : addrCopy.editMode=true"></vc-address>
                        <div ng-if="addrCopy.editMode" class="form-actions">
                            <!--<p>
                                {{ form.set_as_default_checkbox }}
                                <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
                            </p>-->
                            <button ng-click="addr.cancel($index, addrCopy)" ng-disabled="loader.isLoading" class="vc-btn" ng-class="{ 'btn--disabled': detailForm.$pristine, 'loading': loader.isLoading }">
                                <span class="btn-text">{{ 'customer.addresses.cancel' | t }}</span>
                                <span class="btn-loading"></span>
                            </button>
                            <span class="form-spacer"></span>
                            <button ng-click="addr.submit($index, addrCopy)" ng-disabled="loader.isLoading" class="vc-btn" ng-class="{ 'btn--disabled': detailForm.$pristine, 'loading': loader.isLoading }">
                                <span class="btn-text">{{ 'customer.addresses.update' | t }}</span>
                                <span class="btn-loading"></span>
                            </button>
                        </div>
                    </li>
                </ul>

                <button ng-click="addr.newAddress={}" ng-if="!addr.newAddress" class="vc-btn">{{ 'customer.addresses.add_new' | t }}</button>
                <h2 ng-if="addr.newAddress">{{ 'customer.addresses.add_new' | t }}</h2>
                <vc-address address="addr.newAddress" edit-mode="true" validation-container="addr" countries="availCountries" get-country-regions="getCountryRegions(country)" ng-if="addr.newAddress"></vc-address>
                <div ng-if="addr.newAddress">
                    <button ng-click="addr.newAddress = null" class="vc-btn" ng-class="{ 'loading': loader.isLoading }">
                        <span class="btn-text">{{ 'customer.addresses.cancel' | t }}</span>
                        <span class="btn-loading"></span>
                    </button>
                    <span class="form-spacer"></span>
                    <button ng-click="addr.addNewAddress()" ng-disabled="loader.isLoading" class="vc-btn" ng-class="{ 'btn--disabled': detailForm.$pristine, 'loading': loader.isLoading }">
                        <span class="btn-text">{{ 'customer.addresses.add' | t }}</span>
                        <span class="btn-loading"></span>
                    </button>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Change password">
            <div class="one-half">
                <vc-account-password-change on-password-change="changePassword" loading="loader.isLoading"></vc-account-password-change>
            </div>
        </uib-tab>
    </uib-tabset>

    <hr class="hr--small">
</div>
