{% layout settings.customer_layout %}

<div class="grid">

  <div class="grid-item large--one-third push--large--one-third text-center">
    
      {% if form.posted_successfully %}
      <div class="note form-success" id="resetSuccess">
          {{ 'customer.login.reset_password_success' | t }}
      </div>
      {% endif %}     

    <div id="recover_password">

      <h2>{{ 'customer.recover_password.title' | t }}</h2>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      {% form 'recover_customer_password' %}
        {% include 'form-errors-custom' %}       

        <label for="recover-email" class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
        <input type="email" value="" name="email" id="recover-email" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

        <p>
          <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
        </p>
        
      {% endform %}

    </div> 
  </div>
</div>


