<span ng-controller="recommendationsController" ng-show="isBlockVisible" ng-init="getRecommendations({ provider : '{{ provider }}' , type : '{{ type }}', productIds : '{{ product_ids }}', modelId : '{{ modelId }}', buildId : '{{ buildId }}', take : '{{ take }}' })">
    <hr />
    <span class="h1">{{ 'products.general.related_products' | t }}</span>
    <div class="grid-uniform">
        <div ng-repeat="product in productListRecommendations" ng-init="$last && startRecordInteraction()" class="grid-item large--one-fifth medium--one-third small--one-half" ng-class="[{ 'on-sale': (product.price.listPrice.amount > product.price.actualPrice.amount), 'comparable': {{ settings.product_compare_enabled }} }]">
            <a href="{% raw %}{{ product.url }}{% endraw %}" class="product-grid-item RecommendationClick" interactor-arg="{% raw %}{{ product.id }}{% endraw %}">
                <div class="product-grid-image recommendationClick" >
                    <div class="product-grid-image--centered">
                        <span ng-if="!({{ product.available }})">
                            <div class="badge badge--sold-out">
                                <span class="badge-label">{{ 'products.product.sold_out' | t }}</span>
                            </div>
                        </span>
                        <span ng-if="(product.primaryImage)">
                            <img ng-src="{% raw %}{{ product.primaryImage.url }}{% endraw %}" alt="{% raw %}{{ product.primaryImage.alt }}{% endraw %}" />
                        </span>
                        <span ng-if="!(product.primaryImage)">
                            <div class="no-product-image">
                                <img src="{{ 'no-image.svg' | asset_url }}" />
                            </div>
                        </span>
                    </div>
                </div>
                <div class="product-item--other" style="margin-bottom: 10px;">
                    <button class="btn btn-secondary AddShopCart" title="{{ 'products.general.add_to_cart' | t }}" style="width: 70%;" ng-click="addProductToCartById(product.id, 1, $event)" ng-controller="productController">
                        <span class="icon icon-cart"></span>
                    </button>
                    <span ng-if="{{ settings.product_compare_enabled }}">
                        <button class="btn btn-secondary" title="{{ 'products.compare_list.add_to_compare' | t }}" style="width: 25%;" ng-click="addProductToCompareList(product.id, $event)" ng-controller="productCompareListController">
                            <span class="fa fa-bar-chart"></span>
                        </button>
                    </span>
                </div>
                <p ng-bind="product.name"></p>
                <div class="product-item--price">
                    <span ng-if="{{ settings.show_prices_with_taxes }}">
                        <span class="h1 medium--left">
                            <span class="old" ng-if="product.price.discountAmountWithTax.amount > 0">
                                <small ng-bind="product.price.listPriceWithTax.formattedAmount"></small>
                            </span>
                            <small ng-bind="product.price.actualPriceWithTax.formattedAmount"></small>
                        </span>
                        <span class="sale-tag medium--right" ng-if="product.price.discountAmountWithTax.amount > 0" ng-bind="'{{ 'products.general.save_html' | t }}'  + product.price.discountAmountWithTax.formattedAmount"></span>
                    </span>
                    <span ng-if="!({{ settings.show_prices_with_taxes }})">
                        <span class="h1 medium--left">
                            <span class="old" ng-if="product.price.discountAmount.amount > 0">
                                <small ng-bind="product.price.listPrice.formattedAmount"></small>
                            </span>
                            <small ng-bind="product.price.actualPrice.formattedAmount"></small>
                        </span>
                        <span class="sale-tag medium--right" ng-if="product.price.discountAmount.amount > 0" ng-bind="'{{ 'products.general.save_html' | t }}'  + product.price.discountAmount.formattedAmount"></span>
                    </span>
                </div>
                <div class="product-item--other">
                </div>
                <span ng-if="{{ settings.product_reviews_enable }}">
                    <span class="shopify-product-reviews-badge" data-id="{% raw %}{{ product.id }}{% endraw %}"></span>
                </span>
            </a>
        </div>
    </div>
</span>