<h4>{{ 'customer.change_password.title' | t }}</h4>
<form action="{{'/account/password' | absolute_url}}" method="post">
    {% include 'form-errors-custom' %}

    <label for="old_password" class="hidden-label">{{ 'customer.change_password.old_password' | t }}</label>
    <input type="password" value="" name="oldPassword" id="old_password" placeholder="{{ 'customer.change_password.old_password' | t }}" {% if="" form.errors="" contains="" "old_password" %} class="error" {% endif="" %} />

    <label for="new_password" class="hidden-label">{{ 'customer.change_password.new_password' | t }}</label>
    <input type="password" value="" name="newPassword" id="new_password" placeholder="{{ 'customer.change_password.new_password' | t }}" {% if="" form.errors="" contains="" "new_password" %} class="error" {% endif="" %} />

    <label for="new_password_confirm" class="hidden-label">{{ 'customer.change_password.new_password_confirm' | t }}</label>
    <input type="password" value="" name="newPasswordConfirm" id="new_password_confirm" placeholder="{{ 'customer.change_password.new_password_confirm' | t }}" {% if="" form.errors="" contains="" "new_password_confirm" %} class="error" {% endif="" %}/>

    <div class="text-center">
        <input type="submit" class="btn" value="{{ 'customer.change_password.submit' | t }}"/>
    </div>
</form>

