<!--<ng-outlet></ng-outlet>-->
<vc-account-subscriptions-list></vc-account-subscriptions-list>

<script id="account-subscriptions-list.tpl" type="text/ng-template">
    <div ng-if="!$ctrl.subscription">
        <h4>{{ 'customer.subscriptions.title' | t }}</h4>
        <table class="full" ng-if="$ctrl.entries.length">
            <thead>
                <tr>
                    <th>{{ 'customer.subscriptions.subscription_number' | t }}</th>
                    <th>{{ 'customer.subscriptions.status' | t }}</th>
                    <th>{{ 'customer.subscriptions.period' | t }}</th>
                    <th>{{ 'customer.subscriptions.date_created' | t }}</th>
                    <th>{{ 'customer.subscriptions.date_trial_end' | t }}</th>
                    <th>{{ 'customer.subscriptions.total' | t }}</th>
                    <th>{{ 'customer.subscriptions.date_ended' | t }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in $ctrl.entries">
                    <td>
                        <a ng-bind="data.number" ng-click="$ctrl.showDetails(data.number)"></a>
                    </td>
                    <td ng-bind="data.status"></td>
                    <td ng-bind="data.period"></td>
                    <td ng-bind="data.createdDate | date"></td>
                    <td ng-bind="data.createdDate | date"></td>
                    <td ng-bind="data.total.formattedAmount"></td>
                    <td ng-bind="data.endDate | date"></td>
                </tr>
            </tbody>
        </table>

        <div ng-if='$ctrl.pageSettings.totalItems > $ctrl.pageSettings.itemsPerPageCount' ng-include="'pagerTemplate.html'"></div>

        <p ng-if="!$ctrl.entries.length && !$ctrl.loader.isLoading">{{ 'customer.subscriptions.none' | t }}</p>
    </div>

    <div ng-if="$ctrl.subscription">
        <p>
            <a ng-click="$ctrl.subscription = null">
                <span class="fa fa-arrow-left"></span> {{ 'customer.subscriptions.return' | t }}
            </a>
        </p>

        <div class="cols">
            <div class="col col-66 main">
                <h4>{{ 'customer.subscription.title' | t }} {% raw %}{{$ctrl.subscriptionNumber}}{% endraw %}</h4>
                <p>
                    {{ 'customer.subscription.placed_on_date_html' | t }}
                    <strong ng-bind="$ctrl.subscription.createdDate | date: 'medium'"></strong>
                </p>

                <div ng-if="$ctrl.subscription.isCancelled" class="errors">
                    <h5>
                        {{ 'customer.subscription.cancelled_on' | t }}
                        <span ng-bind="$ctrl.subscription.modifiedDate | date: 'medium'"></span>
                    </h5>
                    <p>{{ 'customer.subscription.cancel_reason' | t }}: {% raw %}{{ $ctrl.subscription.cancelReason }}{% endraw %}</p>
                </div>
                <div class="form-fieldset">
                    <vc-line-items items="$ctrl.subscription.items"></vc-line-items>

                    <hr class="hr--small" />
                    <div class="vc-section-header">
                        <div class="vc-t">Subscription totals</div>
                    </div>
                    <div class="cols">
                        <div class="col col-33">
                        </div>
                        <div class="col col-66">
                            <vc-totals order="$ctrl.subscription"></vc-totals>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col col-33">
                <div class="vc-section-header">
                    <div class="vc-t">{{ 'customer.subscriptions.status' | t }}</div>
                    <div class="vc-descr" ng-bind="$ctrl.subscription.status"></div>
                </div>
                <div class="vc-section-header">
                    <div class="vc-t">{{ 'customer.subscription.balance' | t }}</div>
                    <div class="vc-descr" ng-bind="$ctrl.subscription.balance"></div>
                </div>

                <div class="vc-section-header">
                    <div class="vc-t">{{ 'customer.subscription.billing_address' | t }}</div>
                    <div class="vc-descr">
                        <vc-address address="$ctrl.billingAddress"></vc-address>
                    </div>
                </div>
                <div class="vc-section-header" ng-if="$ctrl.subscription.shipments[0].deliveryAddress">
                    <div class="vc-t">{{ 'customer.subscription.shipping_address' | t }}</div>
                    <div class="vc-descr">
                        <vc-address address="$ctrl.subscription.shipments[0].deliveryAddress"></vc-address>
                    </div>
                </div>
                
                <hr class="hr--small" />
                <button ng-click="$ctrl.cancel()" class="vc-btn" ng-class="{'loading': $ctrl.loader.isLoading }">
                    <span class="btn-text">{{ 'customer.subscription.cancel' | t }}</span>
                    <span class="btn-loading"></span>
                </button>
            </div>
        </div>
    </div>
</script>