<div class="one-half">
    <h4>{{ 'customer.change_password.title' | t }}</h4>
    <form ng-submit="$ctrl.submit()" name="detailForm">
        <div class="note form-error" ng-if="$ctrl.errors.length">
            <p>{{ 'general.forms.post_error' | t }}</p>
            <ul class="disc">
                <li ng-repeat="e in $ctrl.errors" ng-bind="e"></li>
            </ul>
        </div>
        <div class="note" ng-if="$ctrl.succeeded">{{ 'customer.change_password.changed' | t }}</div>

        <vc-labeled-input value="$ctrl.passwordChangeData.oldPassword" name="oldPassword" placeholder="{{ 'customer.change_password.old_password' | t }}" form="detailForm" required="true" type="password" autofocus="true" ng-init="$ctrl.setForm(detailForm)"></vc-labeled-input>
        <div class="form-error" ng-if="detailForm.oldPassword.$dirty && detailForm.oldPassword.$invalid">
            <span>{{ 'customer.change_password.validation.current-password' | t }}</span>
        </div>

        <vc-labeled-input value="$ctrl.passwordChangeData.newPassword" name="newPassword" placeholder="{{ 'customer.change_password.new_password' | t }}" form="detailForm" required="true" type="password"></vc-labeled-input>
        <div class="form-error" ng-if="$ctrl.error.newPassword && !detailForm.newPassword.$pristine">
            <span>{{ 'customer.change_password.validation.new-password' | t }}</span>
        </div>

        <vc-labeled-input value="$ctrl.passwordChangeData.newPassword2" name="newPassword2" placeholder="{{ 'customer.change_password.new_password_confirm' | t }}" form="detailForm" required="true" type="password"></vc-labeled-input>
        <div class="form-error" ng-if="!detailForm.newPassword2.$pristine && $ctrl.error.newPassword2">
            <span>{{ 'customer.change_password.validation.repeat-password' | t }}</span>
        </div>

        <button class="vc-btn" ng-disabled="$ctrl.loader.isLoading" ng-class="{ 'btn--disabled': detailForm.$pristine, 'loading': $ctrl.loader.isLoading }">
            <span class="btn-text">{{ 'customer.change_password.submit' | t }}</span>
            <span class="btn-loading"></span>
        </button>
    </form>
</div>