<h4>{{ 'customer.change_password.title' | t }}</h4>
<form ng-submit="$ctrl.submit()" name="detailForm">
    <div class="note form-error" ng-if="$ctrl.passwordChange.errors.length">
        <p>{{ 'general.forms.post_error' | t }}</p>
        <ul class="disc">
            <li ng-repeat="e in $ctrl.passwordChange.errors">{% raw %}{{ e }}{% endraw %}</li>
        </ul>
    </div>

    <label for="oldPassword" class="hidden-label">{{ 'customer.change_password.old_password' | t }}</label>
    <input name="oldPassword" ng-model="$ctrl.passwordChange.changeData.oldPassword" type="password" required="" ng-class="{'error': detailForm.oldPassword.$invalid && !detailForm.oldPassword.$pristine}" placeholder="{{ 'customer.change_password.old_password' | t }}" />
    <div class="form-error" ng-if="detailForm.oldPassword.$dirty && detailForm.oldPassword.$invalid">
        <span>{{ 'customer.change_password.validation.current-password' | t }}</span>
    </div>

    <label for="newPassword" class="hidden-label">{{ 'customer.change_password.new_password' | t }}</label>
    <input name="newPassword" ng-model="$ctrl.passwordChange.changeData.newPassword" ng-class="{'error': $ctrl.error.newPassword}" required="" placeholder="{{ 'customer.change_password.new_password' | t }}" type="password"/>
    <div class="error" ng-if="$ctrl.error.newPassword && !detailForm.newPassword.$pristine">
        <span>{{ 'customer.change_password.validation.new-password' | t }}</span>
    </div>

    <label for="newPassword2" class="hidden-label">{{ 'customer.change_password.new_password_confirm' | t }}</label>
    <input name="newPassword2" ng-model="$ctrl.passwordChange.changeData.newPassword2" ng-class="{'error': $ctrl.error.newPassword2}" required="" type="password" ui-validate=" '$value==$ctrl.newPassword' " ui-validate-watch=" '$ctrl.newPassword' " placeholder="{{ 'customer.change_password.new_password_confirm' | t }}" />
    <div class="error" ng-if="!detailForm.newPassword2.$pristine && $ctrl.error.newPassword2">
        <span>{{ 'customer.change_password.validation.repeat-password' | t }}</span>
    </div>

    <div class="text-center">
        <input type="submit" class="btn" value="{{ 'customer.change_password.submit' | t }}"/>
    </div>
</form>