<h4>{{ 'customer.addresses.title' | t }}</h4>
<ul>
    <li ng-repeat="address in $ctrl.addresses" ng-init="addrCopy = $ctrl.clone(address)">
        <a ng-click="$ctrl.delete($index)" ng-if="!addrCopy.editMode" class="icon-fallback-text btn-secondary remove">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.remove' | t }}</span>
        </a>

        <h3 ng-if="addrCopy.editMode">{{ 'customer.addresses.edit_old' | t }}</h3>
        <vc-checkout-address address="addrCopy" edit-mode="addrCopy.editMode" countries="$ctrl.countries" get-country-regions="$ctrl.getCountryRegions()(country)" ng-click="addrCopy.editMode ? null : addrCopy.editMode=true" ng-class="{'btn-secondary': !addrCopy.editMode}"></vc-checkout-address>
        <div ng-if="addrCopy.editMode">
            <!--<p>
        {{ form.set_as_default_checkbox }}
        <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
    </p>-->
            <input type="submit" ng-click="$ctrl.submit($index, addrCopy)" class="btn" value="{{ 'customer.addresses.update' | t }}" />
            or <a ng-click="$ctrl.cancel($index, addrCopy)">{{ 'customer.addresses.cancel' | t }}</a>
        </div>
    </li>
    <li>
        <a ng-click="$ctrl.newAddress={}" ng-if="!$ctrl.newAddress" class="btn btn--small">{{ 'customer.addresses.add_new' | t }}</a>
        <h2 ng-if="$ctrl.newAddress">{{ 'customer.addresses.add_new' | t }}</h2>
        <vc-checkout-address address="$ctrl.newAddress" edit-mode="true" countries="$ctrl.countries" get-country-regions="$ctrl.getCountryRegions()(country)" ng-if="$ctrl.newAddress"></vc-checkout-address>
        <div ng-if="$ctrl.newAddress">
            <!--<p>
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
            </p>-->
            <input type="submit" ng-click="$ctrl.addNew()" class="btn" value="{{ 'customer.addresses.add' | t }}"/>
            <span class="form-spacer">or</span>
            <a ng-click="$ctrl.newAddress = null">{{ 'customer.addresses.cancel' | t }}</a>
        </div>
    </li>
</ul>