<form accept-charset="UTF8" class="step" name="$ctrl.form" novalidate="novalidate" ng-if="$ctrl.editMode">
    <div class="fieldset">
        <div class="field field--optional field--show-floating-label" ng-if="$ctrl.addresses.length">
            <div class="field__input-wrapper field__input-wrapper--select">
                <label class="field__label" for="Addresses">{{ 'checkout.shipping_address' | t }}</label>
                <select class="field__input field__input--select text-truncate" id="Addresses" name="Addresses" size="1" ng-model="$ctrl.address" ng-options="x as x.name for x in $ctrl.addresses">
                    <option value="">{{ 'checkout.shipping_address_select_placeholder' | t }}</option>
                </select>
            </div>
        </div>
        <div class="field field--half field--required" ng-class="{ 'field--show-floating-label': $ctrl.address.firstName.length, 'field--error': ($ctrl.form.FirstName.$dirty || $ctrl.form.$submitted) && $ctrl.form.FirstName.$invalid }">
            <div class="field__input-wrapper">
                <label class="field__label" for="FirstName">{{ 'checkout.address.first_name' | t }}</label>
                <input class="field__input" id="FirstName" name="FirstName" placeholder="{{ 'checkout.address.first_name' | t }}" required="required" size="30" type="text" ng-model="$ctrl.address.firstName" />
            </div>
            <p class="field__message field__message--error" ng-if="($ctrl.form.FirstName.$dirty || $ctrl.form.$submitted) && $ctrl.form.FirstName.$error.required">
               {{ 'checkout.first_name_required_message' | t }}
            </p>
        </div>
        <div class="field field--half field--required" ng-class="{ 'field--show-floating-label': $ctrl.address.lastName.length, 'field--error': ($ctrl.form.LastName.$dirty || $ctrl.form.$submitted) && $ctrl.form.LastName.$invalid }">
            <div class="field__input-wrapper">
                <label class="field__label" for="LastName">{{ 'checkout.address.last_name' | t }}</label>
                <input class="field__input" id="LastName" name="LastName" placeholder="{{ 'checkout.address.last_name' | t }}" required="required" size="30" type="text" ng-model="$ctrl.address.lastName" />
            </div>
            <p class="field__message field__message--error" ng-if="($ctrl.form.LastName.$dirty || $ctrl.form.$submitted) && $ctrl.form.LastName.$error.required">
               {{ 'checkout.last_name_required_message' | t }}
            </p>
        </div>
        <div class="field field--optional" ng-class="{ 'field--show-floating-label': $ctrl.address.organization.length }">
            <div class="field__input-wrapper">
                <label class="field__label" for="Organization">{{ 'checkout.address.company' | t }}</label>
                <input class="field__input" id="Organization" name="Organization" placeholder="{{ 'checkout.address.company' | t }}" size="30" type="text" ng-model="$ctrl.address.organization" />
            </div>
        </div>
        <div class="field field--two-thirds field--required" ng-class="{ 'field--show-floating-label': $ctrl.address.line1.length, 'field--error': ($ctrl.form.Line1.$dirty || $ctrl.form.$submitted) && $ctrl.form.Line1.$invalid }">
            <div class="field__input-wrapper">
                <label class="field__label" for="Line1">{{ 'checkout.address.address1' | t }}</label>
                <input class="field__input" id="Line1" name="Line1" placeholder="{{ 'checkout.address.address1' | t }}" required="required" size="30" type="text" ng-model="$ctrl.address.line1" />
            </div>
            <p class="field__message field__message--error" ng-if="($ctrl.form.Line1.$dirty || $ctrl.form.$submitted) && $ctrl.form.Line1.$error.required">
                {{ 'checkout.address1_required_message' | t }}
            </p>
        </div>
        <div class="field field--third field--optional" ng-class="{ 'field--show-floating-label': $ctrl.address.line2.length }">
            <div class="field__input-wrapper">
                <label class="field__label" for="Line2">{{ 'checkout.address.address2' | t }}</label>
                <input class="field__input" id="Line2" name="Line2" placeholder="{{ 'checkout.address.address2' | t }}" size="30" type="text" ng-model="$ctrl.address.line2" />
            </div>
        </div>
        <div class="field field--required" ng-class="{ 'field--show-floating-label': $ctrl.address.city.length, 'field--error': ($ctrl.form.City.$dirty || $ctrl.form.$submitted) && $ctrl.form.City.$invalid }">
            <div class="field__input-wrapper">
                <label class="field__label" for="City">{{ 'checkout.address.city' | t }}</label>
                <input class="field__input" id="City" name="City" placeholder="{{ 'checkout.address.city' | t }}" required="required" size="30" type="text" ng-model="$ctrl.address.city" />
            </div>
            <p class="field__message field__message--error" ng-if="($ctrl.form.City.$dirty || $ctrl.form.$submitted) && $ctrl.form.City.$error.required">
                {{ 'checkout.city_required_message' | t }}
            </p>
        </div>
        <div class="field field--required field--show-floating-label" ng-class="{ 'field--three-eights': $ctrl.address.country.regions.length, 'field--half':  !$ctrl.address.country.regions.length, 'field--error': $ctrl.form.$submitted && $ctrl.form.Country.$invalid }">
            <div class="field__input-wrapper field__input-wrapper--select">
                <label class="field__label" for="Country">{{ 'checkout.address.country' | t }}</label>
                <select class="field__input field__input--select" id="Country" name="Country" required="required" size="1" ng-model="$ctrl.address.countryCode" ng-options="x.code3 as x.name for x in $ctrl.countries">
                    <option value="">{{ 'checkout.address.country_select_placeholder' | t }}</option>
                </select>
            </div>
            <p class="field__message field__message--error" ng-if="$ctrl.form.$submitted && $ctrl.form.Country.$error.required">
                {{ 'checkout.country_required_message' | t }}
            </p>
        </div>
        <div class="field field--three-eights field--required field--show-floating-label" ng-if="$ctrl.address.country.regions.length" ng-class="{ 'field--error': $ctrl.form.$submitted && $ctrl.form.Region.$invalid }">
            <div class="field__input-wrapper field__input-wrapper--select">
                <label class="field__label" for="Region" ng-bind="$ctrl.address.country.regionType"></label>
                <select class="field__input field__input--select" id="Region" name="Region" placeholder="{{ $ctrl.address.country.regionType }}" required="required" size="1" ng-model="$ctrl.address.regionId" ng-options="x.code as x.name for x in $ctrl.address.country.regions">
                    <option value="" ng-bind="'Select ' + $ctrl.address.country.regionType"></option>
                </select>
            </div>
            <p class="field__message field__message--error" ng-if="$ctrl.form.$submitted && $ctrl.form.Region.$error.required" ng-bind="'Please select your ' + $ctrl.address.country.regionType"></p>
        </div>
        <div class="field field--required" ng-class="{ 'field--half': !$ctrl.address.country.regions.length, 'field--quarter': $ctrl.address.country.regions.length, 'field--show-floating-label': $ctrl.address.postalCode, 'field--error': ($ctrl.form.PostalCode.$dirty || $ctrl.form.$submitted) && $ctrl.form.PostalCode.$invalid }">
            <div class="field__input-wrapper">
                <label class="field__label" for="PostalCode">{{ 'checkout.address.zip' | t }}</label>
                <input class="field__input" id="PostalCode" name="PostalCode" placeholder="{{ 'checkout.address.zip' | t }}" required="required" size="30" type="text" ng-model="$ctrl.address.postalCode" />
            </div>
            <p class="field__message field__message--error" ng-if="($ctrl.form.PostalCode.$dirty || form.$submitted) && $ctrl.form.PostalCode.$error.required">
                {{ 'checkout.postal_code_required_message' | t }}
            </p>
        </div>
        <div class="field field--optional" ng-class="{ 'field--show-floating-label': $ctrl.address.phone.length }">
            <div class="field__input-wrapper">
                <label class="field__label" for="Phone">{{ 'checkout.address.phone' | t }}</label>
                <input class="field__input" id="Phone" name="Phone" placeholder="{{ 'checkout.address.phone' | t }}" size="30" type="text" ng-model="$ctrl.address.phone" />
            </div>
        </div>
    </div>
    </form>
<p ng-if="!$ctrl.editMode">
    <span ng-bind ="$ctrl.address.name"></span>
</p>