<table class="product-table">
    <thead>
        <tr>
            <th scope="col">
                <span class="visually-hidden">{{ 'checkout.description' | t }}</span>
            </th>
            <th scope="col">
                <span class="visually-hidden">{{ 'checkout.price' | t }}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="product" ng-repeat="lineItem in $ctrl.items">
            <td class="product__image">
                <div class="product__image__inner">
                    <span class="product__quantity" ng-bind="lineItem.quantity"></span>
                    <div class="product__image__wrapper">
                        <img alt="{% raw %}{{ lineItem.name }}{% endraw %}" ng-src="{% raw %}{{ lineItem.imageUrl }}{% endraw %}" ng-if="lineItem.imageUrl" />
                        <div class="no-product-image" ng-if="!lineItem.imageUrl">
                            <img src="{{ 'no-image.svg' | asset_url }}" />
                        </div>
                    </div>
                </div>
            </td>
            <td class="product__description">
                <span class="product__description__name order-summary__emphasis" ng-bind="lineItem.name"></span>
            </td>
            <td class="product__price">
                {% if settings.show_prices_with_taxes %}
                <span class="order-summary__emphasis" ng-bind="lineItem.placedPriceWithTax.formattedAmount"></span>
                <span ng-if="lineItem.listPriceWithTax.amount > lineItem.placedPriceWithTax.amount">
                    <br />
                    <span class="order-summary__small-text strikethrough" ng-bind="lineItem.listPriceWithTax.formattedAmount"></span>
                </span>
                {% else %}
                <span class="order-summary__emphasis" ng-bind="lineItem.placedPrice.formattedAmount"></span>
                <span ng-if="lineItem.listPrice.amount > lineItem.placedPrice.amount">
                    <br />
                    <span class="order-summary__small-text strikethrough" ng-bind="lineItem.listPrice.formattedAmount"></span>
                </span>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>