    <form accept-charset="UTF-8" action="" class="edit_checkout animate-floating-labels" name="$ctrl.form" ng-submit="$ctrl.onApplyCoupon({ coupon: $ctrl.coupon })" novalidate="novalidate">
        <div class="fieldset">
            <div class="field" ng-class="{ 'field--show-floating-label': $ctrl.coupon.code, 'field--error': $ctrl.coupon.errorCode === 'InvalidCouponCode' }" ng-if="!$ctrl.coupon.appliedSuccessfully">
                <div class="field__input-btn-wrapper">
                    <div class="field__input-wrapper">
                        <label class="field__label" for="CouponCode">{{ 'checkout.coupon_code' | t }}</label>
                        <input class="field__input" id="CouponCode" name="CouponCode" placeholder="{{ 'checkout.coupon_code' | t }}" required="required" size="30" type="text" ng-model="$ctrl.coupon.code"  ng-disabled="$ctrl.coupon.processing"/>
                    </div>
                    <button class="field__input-btn btn btn--default"  type="button" ng-click="$ctrl.onApplyCoupon({ coupon: $ctrl.coupon })"  ng-class="{ 'btn--loading': $ctrl.coupon.processing, 'btn--disabled': $ctrl.form.$invalid }" ng-disabled="$ctrl.form.$invalid || $ctrl.coupon.processing">
                        <span class="btn__content visually-hidden-on-mobile">{{ 'checkout.apply' | t }}</span>
                        <i class="btn__content shown-on-mobile icon icon--arrow"></i>
                        <i class="btn__spinner icon icon--button-spinner"></i>
                    </button>
                </div>
                <p class="field__message field__message--error" ng-if="$ctrl.coupon.errorCode === 'InvalidCouponCode'">
                    {{ 'checkout.invalid_coupon_code' | t }}
                </p>
            </div>
            <div class="field" ng-if="$ctrl.coupon.code && $ctrl.coupon.appliedSuccessfully">
                <div class="field__input-btn-wrapper">
                    <div class="field__input-wrapper">
                        <span style="font-size: 1.71em; font-weight: 500; line-height: 40px;" ng-bind="$ctrl.coupon.code"></span>
                    </div>
                    <button class="field__input-btn btn btn--default" type="button" ng-click="$ctrl.onRemoveCoupon( { coupon : $ctrl.coupon })" ng-class="{ 'btn--loading': $ctrl.coupon.processing }">
                        <span class="btn__content visually-hidden-on-mobile">{{ 'checkout.remove' | t }}</span>
                        <i class="btn__content shown-on-mobile icon icon--arrow"></i>
                        <i class="btn__spinner icon icon--button-spinner"></i>
                    </button>
                </div>
                <p class="field__message">{{ 'checkout.coupon_applied_sucessfuly' | t }}</p>
            </div>
        </div>
    </form>
