<table class="total-line-table">
    <thead>
        <tr>
            <th scope="col">
                <span class="visually-hidden">{{ 'checkout.description' | t }}</span>
            </th>
            <th scope="col">
                <span class="visually-hidden">{{ 'checkout.price' | t }}</span>
            </th>
        </tr>
    </thead>
    <tbody ng-if="!$ctrl.displayOnlyTotal">
        <tr class="total-line total-line--subtotal">
            {% if settings.show_prices_with_taxes %}
            <td class="total-line__name">{{ 'checkout.subtotalWithTax' | t }}</td>
            <td class="total-line__price">
                <span class="order-summary__emphasis" ng-bind="$ctrl.cart.subTotalWithTax.formattedAmount"></span>
            </td>
            {% else %}
            <td class="total-line__name">{{ 'checkout.subtotal' | t }}</td>
            <td class="total-line__price">
                <span class="order-summary__emphasis" ng-bind="$ctrl.cart.subTotal.formattedAmount"></span>
            </td>
            {% endif %}
        </tr>
        <tr class="total-line total-line--shipping">
            {% if settings.show_prices_with_taxes %}
            <td class="total-line__name">{{ 'checkout.shippingWithTax' | t }}</td>
            <td class="total-line__price">
                <span class="order-summary__emphasis" ng-bind="$ctrl.cart.shippingPriceWithTax.formattedAmount"></span>
            </td>
            {% else %}
            <td class="total-line__name">{{ 'checkout.shipping' | t }}</td>
            <td class="total-line__price">
                <span class="order-summary__emphasis" ng-bind="$ctrl.cart.shippingPrice.formattedAmount"></span>
            </td>
            {% endif %}
        </tr>
        <tr class="total-line total-line--shipping" ng-if="$ctrl.cart.paymentTotal.amount > 0">
            {% if settings.show_prices_with_taxes %}
            <td class="total-line__name">{{ 'checkout.paymentFeesWithTax' | t }}</td>
            <td class="total-line__price">
                <span class="order-summary__emphasis" ng-bind="$ctrl.cart.paymentPriceWithTax.formattedAmount"></span>
            </td>
            {% else %}
            <td class="total-line__name">{{ 'checkout.paymentFees' | t }}</td>
            <td class="total-line__price">
                <span class="order-summary__emphasis" ng-bind="$ctrl.cart.paymentPrice.formattedAmount"></span>
            </td>
            {% endif %}
        </tr>
        <tr class="total-line total-line--subtotal">
            <td class="total-line__name">{{ 'checkout.discount' | t }}</td>
            <td class="total-line__price">
                {% if settings.show_prices_with_taxes %}
                <span class="order-summary__emphasis" ng-bind="$ctrl.cart.discountTotalWithTax.formattedAmount"></span>
                {% else %}
                <span class="order-summary__emphasis" ng-bind="$ctrl.cart.discountTotal.formattedAmount"></span>
                {% endif %}
            </td>
        </tr>
        <tr class="total-line total-line--taxes">
            <td class="total-line__name">{{ 'checkout.taxes' | t }}</td>
            <td class="total-line__price">
                <span class="order-summary__emphasis" ng-bind="$ctrl.cart.taxTotal.formattedAmount"></span>
            </td>
        </tr>
    </tbody>
    <tbody ng-if="$ctrl.displayOnlyTotal">
        <tr class="total-line">
            <td class="total-line__name payment-due-label">{{ 'checkout.total' | t }}</td>
            <td class="total-line__price payment-due">
                <span class="payment-due__currency" ng-bind="$ctrl.cart.total.currency.code"></span>
                <span class="payment-due__price" ng-bind="$ctrl.cart.total.formattedAmount"></span>
            </td>
        </tr>
    </tbody>
</table>


