<form accept-charset="UTF8" name="addrForm" novalidate="novalidate" ng-if="$ctrl.editMode">
    <div class="form-fieldset" ng-init="$ctrl.setForm(addrForm)">
        <div class="form-group form-select" ng-class="{'keyuped': addrForm.Addresses.$modelValue }" ng-if="$ctrl.addresses.length">
            <label for="#" class="form-label">{{ 'checkout.address.selected_address' | t }}</label>
            <select ng-model="$ctrl.address" ng-options="x as x.name for x in $ctrl.addresses" name="Addresses" class="form-input" size="1">
                <option value="">{{ 'checkout.shipping_address_select_placeholder' | t }}</option>
            </select>
        </div>

        <div class="form-group">
            <div class="cols">
                <div class="col col-50">
                    <vc-labeled-input value="$ctrl.address.firstName" name="FirstName" placeholder="{{ 'checkout.address.first_name' | t }}" form="$ctrl.form" required="true"></vc-labeled-input>
                </div>
                <div class="col col-50">
                    <vc-labeled-input value="$ctrl.address.lastName" name="LastName" placeholder="{{ 'checkout.address.last_name' | t }}" form="$ctrl.form" required="true"></vc-labeled-input>
                </div>
            </div>
        </div>

        <vc-labeled-input value="$ctrl.address.organization" name="Organization" placeholder="{{ 'checkout.address.company' | t }}" form="$ctrl.form"></vc-labeled-input>

        <div class="form-group">
            <div class="cols">
                <div class="col col-66">
                    <vc-labeled-input value="$ctrl.address.line1" name="Line1" placeholder="{{ 'checkout.address.address1' | t }}" form="$ctrl.form" required="true" required-error="{{ 'checkout.address1_required_message' | t }}"></vc-labeled-input>
                </div>
                <div class="col col-33">
                    <vc-labeled-input value="$ctrl.address.line2" name="Line2" placeholder="{{ 'checkout.address.address2' | t }}" form="$ctrl.form"></vc-labeled-input>
                </div>
            </div>
        </div>

        <vc-labeled-input value="$ctrl.address.city" name="City" placeholder="{{ 'checkout.address.city' | t }}" form="$ctrl.form" required="true"></vc-labeled-input>

        <div class="form-group">
            <div class="cols">
                <div class="col" ng-class="{ 'col-50': !$ctrl.address.country.regions.length, 'col-33': $ctrl.address.country.regions.length }">
                    <div class="form-group form-select" ng-class="{'keyuped': $ctrl.form.Country.$modelValue, 'error': $ctrl.form.$submitted && $ctrl.form.Country.$invalid }">
                        <label for="#" class="form-label">{{ 'checkout.address.country' | t }}</label>
                        <select ng-model="$ctrl.address.countryCode" ng-options="x.code3 as x.name for x in $ctrl.countries" name="Country" required="required" class="form-input" size="1">
                            <option value="">{{ 'checkout.address.country_select_placeholder' | t }}</option>
                        </select>
                    </div>
                    <p class="form-error" ng-if="$ctrl.form.$submitted && $ctrl.form.Country.$error.required">
                        {{ 'checkout.country_required_message' | t }}
                    </p>
                </div>

                <div class="col col-33" ng-if="$ctrl.address.country.regions.length">
                    <div class="form-group form-select" ng-class="{'keyuped': $ctrl.address.regionId.length, 'error': $ctrl.form.$submitted && $ctrl.form.Region.$invalid }">
                        <label for="#" class="form-label" ng-bind="$ctrl.address.country.regionType"></label>
                        <select ng-model="$ctrl.address.regionId" ng-options="x.code as x.name for x in $ctrl.address.country.regions" name="Region" required="required" class="form-input" size="1">
                            <option value="" ng-bind="'Select ' + $ctrl.address.country.regionType"></option>
                        </select>
                    </div>
                    <p class="form-error" ng-if="$ctrl.form.$submitted && $ctrl.form.Region.$error.required" ng-bind="'Please select ' + $ctrl.address.country.regionType"></p>
                </div>

                <div class="col" ng-class="{ 'col-50': !$ctrl.address.country.regions.length, 'col-33': $ctrl.address.country.regions.length }">
                    <vc-labeled-input value="$ctrl.address.postalCode" name="PostalCode" placeholder="{{ 'checkout.address.zip' | t }}" form="$ctrl.form" required="true"></vc-labeled-input>
                </div>
            </div>
        </div>

        <vc-labeled-input value="$ctrl.address.phone" name="Phone" placeholder="{{ 'checkout.address.phone' | t }}" form="$ctrl.form"></vc-labeled-input>
    </div>
</form>

<div ng-if="!$ctrl.editMode" ng-bind="$ctrl.address.name"></div>